body,ul,li{
    margin: 0;padding: 0;
}
li{
    list-style: none;
}
body{
    background: #333;
}
section li{
    padding: 20px 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease;
}
section .on{
    background: #a3b3ff;
    color: #333;
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 15vw;
    height: 15vw;
}