body{
    background:#f7f7f7;
}
nav {
    position:relative;
}
nav .share{
    display:block;
    height:35px;
    width:60px;
    line-height:35px;
    text-align: center;
    color:#fff;
    font-size:1.6rem;
    box-shadow: 0 0 6px #ad2950;
    right:10px;
    top:8px;
    position:absolute;
    background:linear-gradient(#fa7d9f 10%,#f25582 30%,#e6356b 50%);
    border-radius: 10px;
    font-weight:900;
}
.share:hover{
    text-decoration: none !important;
}
section{
    width:100%;
    margin:0 auto;
}
.main .a1{
    display:block;
    width:80%;
    margin:0 auto;
}
.main .a1 img{
    max-width:100%;
    display:block;
    height:auto;
    border:1px solid #adadad;
    margin:0 auto;
    margin-top:10vw;
    margin-bottom: 5vw;
}
._hid{
    height:50px !important;
}
.time{
    height:60px;
    width:100%;
    background:#333333;
    text-align: left;
    line-height:60px;
    color:#fff;
    text-indent: 20px;
    font-weight:600;
    font-size:1.5rem;
}
.main .des{
    height:14vw;
    width:85%;
    background:url(../img/hh.jpg) no-repeat;
    background-size:cover;
    margin-left:5%;
    color:#fff;
    margin-top:30px;
    line-height:14vw;
    text-align: center;
    font-size:2rem;
}
.main .da{
    height:14vw;
    line-height:14vw;
    width:85%;
    margin-left:8%;
    font-size:1.5rem;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main .da .price{
    text-decoration:line-through;
    margin-right:3vw;
    margin-left:3vw;
    /*width:40%*/
}
.main .da span:nth-child(2){
    float: right;
    margin-right:4vw;
}
.fot{
    display:flex;
    flex-flow:row nowrap;
    height:60px;
    justify-content:space-between;
    background:#525159;
}
.fot .fotSon1{
    width:32.5%;
    text-align: center;
    line-height:60px;
    color:#fff;
    font-size:1.8rem;
    border-left:1px solid #333333;
}
.fot ._top{
    height:4px;
    width:34%;
    position:absolute;
    top:0;
    left:0;
    background:#e6356b;
}
footer{
    position:fixed ;
    bottom:0;
    left:0;
}
.one{
}
.two{
    width:100%;
    overflow: hidden;
}
.two img{
    width:100%;
    max-width: 100%;
    display:block;
}
._banner{
    width:100%;
}
._banner .swiper-wrapper{
    width:100%;
    height:100%;
}
._banner .swiper-container{
    height:100%;
}
._banner .swiper-slide{
    width:100%;
    height:100%;
}
._banner .swiper-wrapper img{
    max-width: 100%;
    width:100%;
    height:100%;
}
._banner1 .swiper-pagination-bullet{
    height:15px;
    width:15px;
    background:#fff;
    opacity:1;
}
._banner1 .swiper-pagination-bullet-active{
    background:#ff3aa9 !important;
}
.big{
    width:100%;
   /* overflow: visible !important;*/
}
.big .swiperOne{
    width:100%;
    height:100%;
}
.bigPagination {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    bottom:-0px !important;
    z-index:2000;
}

.bigPagination .swiper-pagination-bullet{
    height:60px;
    width:50%;
    background: #5d5c62 !important;
    border-radius: 0;
    z-index: 10 !important;
    margin:0 auto !important;
    text-align: center;
    line-height:60px;
    color:#fff;
    font-size:2rem;
    opacity:1;
    border-right:1px solid #484850;
}
.bigPagination .swiper-pagination-bullet-active{
    background:linear-gradient(#e6356b 6%,#5d5c62 7%, #575757) !important;
}
._r{
    height:60px;
    width:100%;
}
.bigPagination .line{
    height: 5px;
    width:35%;
    background:#ff3aa9;
    top:0;
    left:0;
}
